<footer class="bg-gray-900 text-gray-300 py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <a href="/"  class="text-blue-500 text-2xl font-bold flex items-center overflow-hidden">
            <img src="/annight/logo_mini.png" alt="logo_mini" class="w-full h-12 md:h-16 object-cover">
        </a>
      </div>
      
      <ul class="flex flex-wrap justify-center md:justify-start space-x-4 text-sm">
        <li><a href="/" class="hover:text-white">หน้าแรก</a></li>
        <li><a href="/term#about" class="hover:text-white">เกี่ยวกับเรา</a></li>
        <li><a href="/term#OurPolicy" class="hover:text-white">นโยบายความเป็นส่วนตัว (Privacy Policy)</a></li>
        <li><a href="/term#term-use" class="hover:text-white">ข้อตกลงการใช้งาน</a></li>
        <li><a href="/term#Customer-Support-Policy" class="hover:text-white">ติดต่อเรา</a></li>
      </ul>

      <div class="flex space-x-4 mt-4 md:mt-0">
        <a href="https://web.facebook.com/AniNightOffice.net" target="_blank" class="text-gray-400 hover:text-white"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/aninight04" target="_blank" class="text-gray-400 hover:text-white"><i class="fab fa-twitter"></i></a>
        <a href="https://youtube.com/@aninight-th" class="text-gray-400 hover:text-white" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <!-- ลิขสิทธิ์ -->
    <div class="mt-6 text-center text-sm text-gray-500">
      © 2024 Web Design Ani-Night. All rights reserved.
    </div>
  </div>
</footer>
