<footer class="bg-gray-800 text-white py-6">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <h5 class="text-lg font-semibold">เกี่ยวกับเรา</h5>
                <ul class="mt-2">
                    <li><a href="https://web.facebook.com/AniNightOffice.net" class="text-gray-400 hover:text-white">ติดต่อเรา</a></li>
                    <li><a href="/term#OurPolicy" class="text-gray-400 hover:text-white">นโยบายความเป็นส่วนตัว</a></li>
                    <li><a href="/term#api" class="text-gray-400 hover:text-white">การขอใช้ API ของเรา</a></li>
                </ul>
            </div>
            <!-- <div class="mb-4 md:mb-0">
                <h5 class="text-lg font-semibold">ช่วยเหลือ</h5>
                <ul class="mt-2">
                    <li><a href="#" class="text-gray-400 hover:text-white">คำถามที่พบบ่อย</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white">การสนับสนุนลูกค้า</a></li>
                </ul>
            </div> -->
            <div class="mb-4 md:mb-0">
                <h5 class="text-lg font-semibold">ติดตามเรา</h5>
                <ul class="mt-2 flex space-x-4">
                    <li><a href="https://web.facebook.com/AniNightOffice.net" class="text-gray-400 hover:text-white">Facebook</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="text-center mt-6">
            <p class="text-sm text-gray-500">© 2024 AniNight. สงวนสิทธิ์ทั้งหมด.</p>
        </div> -->
    </div>
    <div class="container mx-auto text-center">
        <div class="mb-6">
            <h2 class="text-3xl font-extrabold text-orange-500">Happy Halloween!</h2>
            <p class="text-gray-400">Get ready for a spooky and fun-filled celebration!</p>
        </div>
        <!-- <ul class="flex justify-center space-x-6 mb-6 text-gray-400">
            <li><a href="#" class="hover:text-orange-300">Home</a></li>
            <li><a href="#" class="hover:text-orange-300">About Us</a></li>
            <li><a href="#" class="hover:text-orange-300">Events</a></li>
            <li><a href="#" class="hover:text-orange-300">Contact</a></li>
        </ul> -->
        <p class="text-gray-500 text-sm">Ani-Night.online &copy; 2024 </p>
        <p class="text-gray-500 text-sm">Made Design Web with 🎃 and 👻 by Nightkun</p>
    </div>
</footer>
