<footer class="bg-gray-200 text-black mt-5">
    <div class="max-w-6xl mx-auto px-4 py-6 hidden md:block ">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <h5 class="text-lg font-semibold">เกี่ยวกับเรา</h5>
                <ul class="mt-2">
                    <li><a href="https://web.facebook.com/AniNightOffice.net" class="text-black hover:text-white">ติดต่อเรา</a></li>
                    <li><a href="/term#OurPolicy" class="text-black hover:text-white">นโยบายความเป็นส่วนตัว  (Privacy Policy)</a></li>
                    <li><a href="/term#api" class="text-black hover:text-white">การขอใช้ API ของเรา</a></li>
                </ul>
            </div>
            <!-- <div class="mb-4 md:mb-0">
                <h5 class="text-lg font-semibold">ช่วยเหลือ</h5>
                <ul class="mt-2">
                    <li><a href="#" class="text-gray-400 hover:text-white">คำถามที่พบบ่อย</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white">การสนับสนุนลูกค้า</a></li>
                </ul>
            </div> -->
            <div class="mb-4 md:mb-0">
                <h5 class="text-lg font-semibold">ติดตามเรา</h5>
                <ul class="mt-2 flex space-x-4">
                    <li><a href="https://web.facebook.com/AniNightOffice.net" class="text-gray-400 hover:text-white">Facebook</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="text-center mt-6">
            <p class="text-sm text-gray-500">© 2024 AniNight. สงวนสิทธิ์ทั้งหมด.</p>
        </div> -->
    </div>
    <div class="container mx-auto text-center p-5">
        <h5 class="text-lg font-semibold">เกี่ยวกับเรา</h5>
        <ul class="flex justify-center flex-col md:flex-row md:space-x-6 mb-6 text-black">
            <li><a href="/" class="hover:text-orange-300">หน้าหลัก</a></li>
            <li><a href="/term#OurPolicy" class="hover:text-orange-300">นโยบายความเป็นส่วนตัว  (Privacy Policy)</a></li>
            <li><a href="/term#Privacy" class="hover:text-orange-300">เงื่อนไข</a></li>
            <li><a href="/term#api" class="hover:text-orange-300">การใช้ API</a></li>
        </ul>
        <p class="text-black text-sm">Ani-Night.online &copy; 2024 </p>
        <p class="text-black text-sm">Made Design Web with 🎃 and 👻 by Nightkun</p>
    </div>
</footer>
