<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <script src="/cdn/tailwincss.js"></script>
    <script src="/cdn/fontawesome.js" crossorigin="anonymous"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="flex items-center justify-center h-screen">
        <div class="text-center">
            <h1 class="text-6xl font-bold text-blue-500">404</h1>
            <p class="text-xl text-gray-700 mt-4">ขออภัย, หน้าที่คุณกำลังหาไม่พบ</p>
            <p class="text-gray-500 mt-2">หน้าที่คุณกำลังหาอาจถูกลบด้วยเนื่อกจากลิขสิทธิ์</p>

            <p class="text-gray-500 mt-2">หรือเนื้อหานี้อาจถูกปิดแล้ว ด้วยของครีเอเตอร์</p>
            <div class="mt-6">
                <a href="/" class="mt-6 inline-block px-6 py-3 text-white bg-blue-600 rounded-md hover:bg-blue-700">
                    กลับสู่หน้าหลัก
                </a>
            </div>
        </div>
    </div>
</body>
</html>
