<header class="bg-gray-900 text-white">
    <div class="container mx-auto p-6 flex justify-between items-center">
        <a href="/" class="text-blue-500 text-2xl font-bold flex items-center overflow-hidden">
            <img src="/annight/logo_mini.png" alt="logo_mini"
                class="w-full h-12 object-cover ">
        </a>
        <nav class="space-x-6">
            <a href="/auth/login" class="hover:text-blue-400">Login</a>
            <a href="/auth/register" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Sign Up</a>
        </nav>
    </div>
</header>