<!-- <header class="bg-gray-900 text-white">
    <div class="container mx-auto p-6 flex justify-between items-center">
        <a href="/" class="text-blue-500 text-2xl font-bold flex items-center overflow-hidden">
            <img src="/annight/logo_mini.png" alt="logo_mini"
                class="w-full h-12 object-cover ">
        </a>
        <nav class="space-x-6">
            <a href="/auth/login" class="hover:text-blue-400">Login</a>
            <a href="/auth/register" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Sign Up</a>
        </nav>
    </div>
</header> -->

<header class="flex justify-between items-center p-6 bg-orange-700 shadow-lg">
    <h1 class="lg:text-4xl font-bold">🎃 Halloween Anime Schedule 🎃</h1>
    <nav>
        <ul class="flex space-x-6">
            <li><a href="/" class="text-white hover:text-orange-300">Home</a></li>
            <li><a href="/aws.js" class="text-white hover:text-orange-300">Schedule</a></li>
        </ul>
    </nav>
</header>