<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ขอบคุณที่เข้าร่วม!</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white rounded-lg shadow-lg p-8 text-center max-w-md">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">ขอบคุณที่เข้าร่วมแบบสำรวจ!</h1>
        <p class="text-gray-600 mb-8">เราขอขอบคุณสำหรับการตอบแบบสำรวจของคุณ ข้อมูลของคุณมีค่ามากและจะช่วยให้เราปรับปรุงให้ดียิ่งขึ้น</p>
        <a href="javascript:void(0)">
            <button class="bg-blue-500 text-white font-semibold py-2 px-6 rounded-md hover:bg-blue-600 transition duration-300">
                ปิดหน้านี้ได้เลย แล้วกลับไปหน้าของผู้ให้บริการเว็บ
            </button>
        </a>
    </div>
</body>
</html>
