Right<div class="layout grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full max-w-7xl gap-4 mx-auto">
    <!-- ส่วนของ ASIDE เริ้ม-->

    <!-- ส่วนของ ASIDE จบ-->
    <!-- ส่วนของ MAIN เริ่ม  -->
    <main class="w-full lg:col-span-2 flex flex-col">
        <div class="p-4 bg-white shadow-md rounded-lg">
            <h1 class="text-lg font-bold mb-4">Main Content</h1>
            <p>Your main content goes here.</p>
        </div>
    </main>
    <!-- ส่วนของ MAIN สิ้นสุด -->


    <!-- เริ่มส่วนด้านขาว -->
    <div class="right hidden lg:block">
        <%- include('./Component/Right') %>
    </div>
    <!-- สิ้นสุดฝั่งด้านขาว -->
</div>