<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก | Register</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        body::-webkit-scrollbar {
            display: none;
        }

        section {
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>
</head>
<body class="overflow-hidden">

<main class="bg-white flex flex-row w-full h-screen">
    <%- include('../../Component/Sidebar') %>

    <section class="flex-1 w-full h-full p-2 md:p-5 overflow-y-scroll">
        <div class="flex justify-center items-center h-screen mt-8 mb-9">
            <div class="bg-white relative p-8 rounded-lg shadow-lg w-full max-w-md overflow-hidden">
                <h2 class="text-2xl font-bold mb-6 text-center">สมัครสมาชิก</h2>
                <form action="/api/v2/auth/register" method="POST">
                    <div class="mb-4">
                        <label for="username" class="block text-gray-700">ชื่อผู้ใช้</label>
                        <input type="text" id="username" name="username" class="mt-2 p-2 w-full outline-none border rounded-md " required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700">อีเมล</label>
                        <input type="email" id="email" name="email" class="mt-2 p-2 w-full border rounded-md outline-none" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-gray-700">รหัสผ่าน</label>
                        <input type="password" id="password" name="password" class="mt-2 p-2 w-full border rounded-md outline-none" required>
                    </div>
                    <div class="mb-4">
                        <label for="confirm_password" class="block text-gray-700">ยืนยันรหัสผ่าน</label>
                        <input type="password" id="confirm_password" name="password2" class="mt-2 p-2 w-full border rounded-md outline-none" required>
                    </div>

                    <div class="mb-4">
                        <div class="g-recaptcha" data-sitekey="<%= siteKey %>"></div>
                    </div>

                    <div class="flex items-center mb-4 mt-4">
                        <input type="checkbox" id="remember" class="custom-checkbox  mr-2" required>
                        <label for="remember" class="text-sm text-gray-700">ยอมรับเงื่อนไขการเข้าสู่ระบบของเราใช้ไหมครับ <a
                                href="https://ani-night.online/term" target="_blank"
                                rel="noopener noreferrer">อ่านนโบบาย</a></label>
                    </div>

                    <div class="mb-6">
                        <button type="submit" class="w-full bg-black text-white p-2 rounded-md   focus:ring-opacity-50">สมัครสมาชิก</button>
                    </div>
                </form>
                <div class="mb-6 mt-4 ">
                    <% if (typeof error !== 'undefined') { %>
                        <div class="mb-4 bg-gray-100 rounded-lg p-2 text-red-500 text-center"><%= error %></div>
                    <% } %>
                </div>
                <div class="mb-6 mt-4">
                    <% if (typeof message !== 'undefined') { %>
                        <div class="mb-4 bg-gray-100 rounded-lg p-2 text-emerald-500 text-center"><%= message %></div>
                    <% } %>
                </div>
                <p class="text-center text-gray-600">มีบัญชีอยู่แล้ว? <a href="/auth/login" class="text-blue-500 hover:underline">เข้าสู่ระบบ</a></p>
                 <!-- Character Image Section -->
                 <div class="absolute top-0 pr-10 select-none" style="right: -60px;">
                    <img src="/annight/refister.png" alt="ตัวละคร" class="h-40 object-contain pointer-events-none w-auto">
                </div>
            </div>
        </div>
    </section>
      
    </main>
</body>
</html>