<footer class="bg-gray-800 text-white py-8 mt-5">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
            <!-- About Section -->
            <div>
                <h3 class="text-xl font-semibold mb-4">เกี่ยวกับเรา</h3>
                <p class="text-sm">เว็บไซต์ AniNight เป็นแหล่งรวมข้อมูลเกี่ยวกับอนิเมะ, มังงะ, และข่าวสารที่เกี่ยวข้องกับโลกของการ์ตูนญี่ปุ่น และยังมีให้ครีเอเตอร์เข้ามาสร้างสรรค์เนื้อหาได้ด้วย</p>
            </div>

            <!-- Quick Links -->
            <div>
                <h3 class="text-xl font-semibold mb-4">ลิงก์ด่วน</h3>
                <ul>
                    <li><a href="/" class="hover:text-white">หน้าแรก</a></li>
                    <li><a href="/term#about" class="hover:text-white">เกี่ยวกับเรา</a></li>
                    <li><a href="/PrivacyPolicy" class="hover:text-white">นโยบายความเป็นส่วนตัว (Privacy Policy)</a></li>
                    <li><a href="/TermsService" class="hover:text-white">เงื่อนไขการบริการ (Terms of Service )</a></li>
                    <li><a href="/term#Customer-Support-Policy" class="hover:text-white">ติดต่อเรา</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div>
                <h3 class="text-xl font-semibold mb-4">ติดต่อเรา</h3>
                <ul>
                    <li><p class="text-sm">Email: aninight.dev@gmail.com</p></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div>
                <h3 class="text-xl font-semibold mb-4">ติดตามเรา</h3>
                <div class="flex space-x-4">
                    <a href="https://web.facebook.com/AniNightOffice.net" target="_blank" class="text-sm hover:underline">Facebook</a>
                </div>
            </div>
        </div>

        <div class="mt-8 text-center">
            <p class="text-sm">&copy; 2025 AniNight.</p>
        </div>
    </div>
</footer>
