<header class="bg-white border-b-2">
    <div class="mx-auto px-4 py-4 flex justify-between items-center">
         <!-- Mobile Menu Button -->
      <div class="leftitem flex items-center space-x-3">
        <button id="menuButton" class=" text-gray-700 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6h16.5M3.75 12h16.5M3.75 18h16.5" />
            </svg>
          </button>

          <!-- Logo Section -->
      <a href="/" class="flex items-center overflow-hidden">
        <img src="/logo/Ani.png" alt="AniNight" class="w-[200px] h-[40px] object-cover">
      </a>

      </div>
 
      <!-- Navigation Links -->
      <nav class="hidden md:flex space-x-6">
        <a href="#home" class="text-gray-700 hover:text-indigo-600">หน้าหลัก</a>
        <a href="#schedule" class="text-gray-700 hover:text-indigo-600">ตารางอนิเมะ</a>
        <a href="#news" class="text-gray-700 hover:text-indigo-600">บทความ</a>
      </nav>
     
    </div>

    <!-- Mobile Menu -->
    <div id="mobileMenu" class="hidden md:hidden bg-white border-t border-gray-200">
      <nav class="flex flex-col space-y-2 p-4">
        <a href="#home" class="text-gray-700 hover:text-indigo-600">Home</a>
        <a href="#schedule" class="text-gray-700 hover:text-indigo-600">Schedule</a>
        <a href="#news" class="text-gray-700 hover:text-indigo-600">News</a>
        <a href="#contact" class="text-gray-700 hover:text-indigo-600">Contact</a>
      </nav>
    </div>
  </header>